p {
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    color: #4b4342;
}

h2 {
    font-family: 'Merienda', cursive;
    color: #4b4342;
}

header {
    height: 100px;
}

header nav {
    margin-top: 40px !important;
    width: 780px;
    height: 70px;
}

header nav ul {
    margin-top: 20px;
    list-style: none;
    width: 270px;
    padding: 0px;
}

header nav ul a {
    text-decoration: none;
    color: black;
}

header nav ul a li {
    font-size: 18px;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}

header nav ul a .active {
    color: #5FCAC7;
}

header img {
    height: 185px;
    width: 185px;
    margin-top: 10px;
    z-index: 1000;
}

main .contact-start {
    height: 340px;
    background-image: url("../assets/Contact-page-imgs/img-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .contact-start div {
    height: 100px;
    width: 230px;
}

main .contact-start div h2 {
    font-size: 51px;
    font-weight: 500;
    color: white;
    margin: 0px 0px 10px;
}

main .contact-start div p {
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
}

main .contact-start div p a {
    color: white;
}

main .contacts {
    height: 1163px;
    padding: 40px 0px;
    margin-top: 40px;
}

main .contacts .our-contacts {
    height: 180px;
    width: 970px;
}

main .contacts .our-contacts img {
    width: 181px;
    height: 41px;
    object-fit: cover;
}

main .contacts .our-contacts h2 {
    font-size: 48px;
    margin: 0px 0px 24px;
}

main .contacts .our-contacts p {
    font-size: 17px;

}

main .contacts .send-massige {
    width: 1200px;
    height: 438px;
    margin: 110px auto 0px;
    /* position: fixed; */
}

main .contacts .send-massige aside h2 {
    font-size: 27.8px;
    font-weight: 700;
}

main .contacts .send-massige aside p {
    font-size: 17px;
    margin: 0px;
}

main .contacts .send-massige .left {
    width: 300px;
    height: 324px;
    padding: 0px 15px;
    box-sizing: border-box;
}

main .contacts .send-massige .left .week-day {
    margin: 17px 0px 0px
}

main .contacts .send-massige .mid {
    height: 438px;
    width: 600px;
    padding: 0px 15px;
}

main .contacts .send-massige .mid h2 {
    margin-bottom: 20px;
}


main .contacts .send-massige .mid form div input {
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 16px;
    border: 1px solid #EDECEC;
    outline: 1px solid #EDECEC;
}

main .contacts .send-massige .mid form div input::placeholder {
    color: black;
}

main .contacts .send-massige .mid form div textarea {
    width: 100%;
    height: 134px;
    border: 1px solid #EDECEC;
    outline: 1px solid #EDECEC;
    resize: none;
}

main .contacts .send-massige .mid form div textarea::placeholder {
    color: black;
}

main .contacts .send-massige .mid form div .submit-button {
    height: 40px;
    width: 138px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: #4b4342;
    background-color: white;
    border: 1px solid #EDECEC;
    border-radius: 6px;
    margin: 26px auto;
}

main .contacts .rigth {
    height: 324px;
    width: 300px;
    padding: 0px 15px;
}

main .contacts .rigth .text {
    margin-top: 22px;
}

main .contacts iframe {
    height: 450px;
    width: 100%;
    margin: 0px;
}

footer {

    height: 450px;
    background-color: rgba(75, 67, 66);
}

footer .background-img img {
    opacity: .1 !important;
    width: 100%;
    height: 450px;
}

footer article {
    height: 330px;
    width: 1180px;
    margin-top: 50px;
}

footer article .left {
    height: 200px;
    width: 370px;
}

footer article .text-area {
    height: 92px;
    width: 100%;
}

footer article .text-area h2 {
    font-size: 30px;
    color: white;
    font-weight: 700;
}

footer article .text-area svg {
    margin: 10px 0px 0px;
    height: 55px;
    width: 55px;
    color: white;
}

footer article .left .contacts {
    height: 75px;
    width: 100%;
    margin-top: 20px;
}

footer article .left .contacts .icons {
    height: 65px;
    width: 65px;
    color: #4B4342;
}

footer article .left .contacts .icons svg {
    fill: white;
    transition: 500ms
}

footer article .left .contacts .icons:hover svg {
    fill: #4b4342;
}

footer article .left .contacts .icons div {
    font-size: 30px;
    transition: 500ms
}

footer article .left .contacts .icons:hover div {
    color: white;
}

footer article .mid {
    height: 330px;
    width: 330px;
}

footer article .mid img {
    height: 300px;
    width: 300px;
}

footer article .rigth {
    height: 200px;
    width: 380px;
}

footer article .rigth form {
    margin-top: 20px;
}

footer article .rigth form input {
    width: 290px;
    height: 42px;
    padding: 0px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

footer article .rigth form button {
    height: 42px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    transition: 500ms;
}

footer article .rigth form button:hover {
    background-color: #5FCAC7;
}